<div class="menu-drawer">
  <div class="menu-drawer__content">
    {% for link in menu.links %}
      <span>{{ link.title }}</span>
    {% endfor %}
  </div>
  <div class="menu-drawer__close" onclick="closeDrawer()">
    <span>&times;</span>
  </div>
</div>
