<div class="menu-drawer active">
  <div class="menu-drawer__content">
    <ul>
      {% for link in menu.links %}
        <li>
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="menu-drawer__close" onclick="closeDrawer()">
    <span>&times;</span>
  </div>
</div>
