.product-tabs__nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
}

.product-tabs__nav ul li h4 {
  margin: 0;
}

.product-tabs__nav-toggle {
  text-transform: uppercase;
  padding: 12px 20px;
}

.product-tabs__nav-toggle.active {
  background-color: rgb(var(--color-base-accent-2));
  border-radius: 8px;
}

.product-tabs__content .tab-content {
  display: none;
} 

.product-tabs__content .tab-content.active {
  display: block;
}
