.image-with-info-boxes {
  max-width: 1140px;
  margin: auto;
}

.image-with-info-boxes__content {
  display: flex;
  justify-content: space-between;
}

.image-with-info-boxes__content-right {
  width: 74%;
}

.image-with-info-boxes__content-left {
  width: 24%;
}

.image-with-info-boxes__content-left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
