.image-with-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-with-cta__content {
  max-width: 1140px;
}

.image-with-cta__content h3 {
  font-size: 32px;
}

.image-with-cta__content img {
  width: 100%;
  height: auto;
}
