.image-with-info-boxes {
  max-width: 1140px;
  margin: auto;
}

.image-with-info-boxes__content {
  display: flex;
  justify-content: space-between;
}

.image-with-info-boxes__content--reverse {
  flex-direction: row-reverse;
}

.image-with-info-boxes__content-right {
  max-width: calc(99% - 320px);
}

.image-with-info-boxes__content-right .info-box {
  border: 2px solid rgb(var(--color-base-text));
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.image-with-info-boxes__content-left {
  max-width: 420px;
  margin-left: 50px;
}

.image-with-info-boxes__content-left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}


