.testimonials {
  max-width: 1140px;
  margin: 0 auto;
  padding: 25px;
}

.testimonials .testimonial {
  padding: 25px;
}

.testimonials .testimonial img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}

.testimonials .testimonial p {
  color: white;
}
