.ingredient-library-letter {
  max-width: 1140px;
  margin: 0 auto;
  padding: 50px 50px 0px 50px;
}

.ingredient-library-letter h3 {
  font-size: 42px;
  font-weight: 700;
}

.ingredient-library-letter ul {
  list-style-type: none;
  padding: 0;
}

.ingredient-library-letter ul li {
  background-color: #fff8f2; 
  padding: 30px;
  margin-bottom: 30px;
}

.ingredient-library-letter ul li h4 {
  font-weight: bold;
}
