.image-with-info-boxes {
  max-width: 1140px;
  margin: auto;
}

.image-with-info-boxes__content {
  display: flex;
  justify-content: space-between;
}

.image-with-info-boxes__content--reverse {
  flex-direction: row-reverse;
}

.image-with-info-boxes__content-right {
  width: calc(99% - 320px);
  max-width: 59%;
}

.image-with-info-boxes__content-right .info-box {
  border: 2px solid rgb(var(--color-base-accent-2));
  padding: 15px;
}

.image-with-info-boxes__content-left {
  width: 39%;
  max-width: 320px;
}

.image-with-info-boxes__content-left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


