.icon-bar {
  padding: 50px;
}

.icon-bar ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.icon-bar ul li {
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-bar ul li img {
  width: 100%;
  height: auto;
}

.icon-bar ul li p {
  text-align: center;
}
