.ingredient-filter ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1140px;
  margin: 0 auto;
}

.ingredient-filter button {
  padding: 11px 25px;
  margin: 5px;
}
