.product-faqs {
  padding: 50px;
  max-width: 1140px;
  margin: 0 auto;
}

.product-faqs ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-faqs ul li {
  width: 49%;
}

.product-faqs .faq-accordion-toggle {
  background-color: white;
  border: 2px solid black;
  padding: 20px;
  border-radius: 50px;
  width: 100%;
  margin-bottom: 20px;
}

.product-faqs .faq-accordion-content {
  max-height: 0;
  flex: 1;
  overflow: hidden;
  transition: max-height 300ms linear;
}

.product-faqs ul .faq-item.active .faq-accordion-content {
  flex-basis: 1;
  max-height: 1000px;
}
