.testimonials {
  max-width: 1140px;
  margin: 0 auto;
  padding: 25px;
}

.testimonials .testimonial {
  padding: 25px;
}

.testimonials .testimonial img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 8px;
}

.testimonials .testimonial p {
  color: white;
}

.testimonial-lightbox {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
}

.testimonial-lightbox--close {
  position: absolute;
  top: 10%;
  right: 10%;
}

.testimonial-lightbox-content {
  max-height: 50%; 
  box-shadow: 0 0 0 999999px rgba(0,0,0,0.3);
}
