.text-with-color-background {
  max-width: 1140px;  
  margin: auto;
  padding: 50px;
}

.text-with-color-background__content {
  text-align: center;
}

.text-with-color-background__content h3 {
  color: inherit; 
  font-size: 32px;
  font-weight: 700;
}
