.menu-drawer--open {
  font-size: 13px;
  height: 16px;
  width: 22px;
}

.menu-drawer {
  border: 2px solid red;
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 1000;
  transition: left 0.3s linear;
}

.menu-drawer.active {
  left: 0;
}
