.menu-drawer--open {
  font-size: 13px;
  height: 16px;
  width: 22px;
}

.menu-drawer {
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  transition: left 0.3s linear;
  display: flex;
}

.menu-drawer.active {
  left: 0;
}

.menu-drawer__content {
  background-color: white;
  width: 75%;
  height: 100%;
  box-shadow: none;
  transition: box-shadow 0.1s linear;
}

.menu-drawer.active .menu-drawer__content {
  box-shadow: 0 0 0 9999px #000000b0;
  transition: box-shadow 0.2s 0.1s linear;
}

.menu-drawer__close {
  width: 25%;
  height: 100%;
}

.menu-drawer__content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-drawer__content ul li {
  display: block;
  width: 100%;
  padding: 20px;
  border: 2px solid red;
}

.menu-drawer__content ul li a {
  text-decoration: none;
  text-transform: uppercase;
}
