.menu-drawer--open {
  font-size: 13px;
  height: 16px;
  width: 22px;
}

.menu-drawer {
  border: 2px solid red;
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  transition: left 0.3s linear;
}

.menu-drawer.active {
  left: 0;
}

.menu-drawer__content {
  background-color: white;
  width: 75%;
  height: 100%;
}

.menu-drawer__close {
  background-color: rgba(0,0,0,0.8);
  width: 25%;
  height: 100%;
}
